[Unit]
Description=workerproto
After=network.target

[Service]
Type=simple
User=
WorkingDirectory=
ExecStart="/usr/bin/env dotnet workerproto.dll"
Restart=Always

[Install]
WantedBy=multi-user.target